@model MyStore.Models.ViewModel.ProductSearchVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <meta name="viewport " content=" width=device-width" />
    <title>Search</title>
    <style>
        .search-container, .order-container {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class=" form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
       {
           @class = "form-control",
           PlaceHolder = "Nhap ten, mo ta hoac chung loai san pham"
       })
            @Html.TextBoxFor(m => m.MinPrice, new
       {
           @class = "form-control",
           placeholder = "Nhap gia toi thieu",
           type = "number",
       })
            @Html.TextBoxFor(m => m.MaxPrice, new
  {
@class = "form-control",
placeholder = "Nhap gia toi da",
type = "number",
})
            <button type="submit" class="btn btn-primary">Tìm kiếm </button>
        </div>
        <div class="form-group order-container">
            Sap xep theo:
            @Html.ActionLink("Ten tang dan", "Index", "Products",
           new
                {
                    sortOrder = "name_asc",
           searchTerm = Model.SearchTerm,
           minPrice = Model.MinPrice,
           maxPrice = Model.MaxPrice
                },
           null) |
            @Html.ActionLink("Ten giam dan", "Index", "Products",
           new
                {
                    sortOrder = "name_desc",
            searchTerm = Model.SearchTerm,
            minPrice = Model.MinPrice,
            maxPrice = Model.MaxPrice
                },
            null) |
            @Html.ActionLink("Gia tang dan", "Index", "Products",
            new
                 {
                     sortOrder = "price_asc",
             searchTerm = Model.SearchTerm,
             minPrice = Model.MinPrice,
             maxPrice = Model.MaxPrice
                 },
             null) |
            @Html.ActionLink("Gia giam dan", "Index", "Products",
             new
                  {
                      sortOrder = "price_desc",
              searchTerm = Model.SearchTerm,
              minPrice = Model.MinPrice,
              maxPrice = Model.MaxPrice
                  },
              null) |
        </div>
    }
    @Html.Partial("PVListProduct", Model)
</body>
</html>
