@model MyStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class=" bg-success">Xóa sản phẩm</h2>

<div class="alert-danger">Bạn thực sự muốn xóa sản phẩm này à?</div>
<div class=" container-fluid">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDecription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDecription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Xóa" class="btn btn-primary" /> |
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
</div>
    }
</div>
