@model MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Chi tiết sản phẩm</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên sản phẩm</dt>

        <dd>@Html.DisplayFor(model => model.ProductName)</dd>

        <dt>Mô tả</dt>

        <dd> @Html.DisplayFor(model => model.ProductDecription) </dd>

        <dt> Đơn giá</dt>

        <dd>@Html.DisplayFor(model => model.ProductPrice)</dd>

        <dt>Hình ảnh</dt>

        <dd>@Html.DisplayFor(model => model.ProductImage) </dd>

        <dt> Danh mục</dt>

        <dd> @Html.DisplayFor(model => model.Category.CategoryName)</dd>
        <dt style="padding: 10px"></dt>
        <dd style="padding: 10px">
            @Html.ActionLink("Sửa", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
        </dd>
   </dl>
</div>
