@model MyStore.Models.ViewModel.ProductSearchVM
    @using PagedList.Mvc;
    <head>
        <style>
            img {
                height: 150px;
                max-width:150px;
            }
        </style>
    </head>
@if (Model.Products != null && Model.Products.Any())
            {
                <h2 class="bg-success">DANH SACH SAN PHAM</h2>
            <table class=" table bg-info table-responsive">
                <thead>
                    <tr>
                        <th class=" bg-success col-md-2"> Hinh anh</th>
                        <th class=" bg-success col-md-3"> Ten san pham</th>
                        <th class=" bg-success col-md-1"> Don gia</th>
                        <th class=" bg-success col-md-2"> Danh muc</th>
                        <th class=" bg-success col-md-4"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                    <tr>
                        <td> <img scr="@Html.DisplayFor(modelItem => product.ProductImage)" /></td>
                        <td> @Html.DisplayFor(modelItem => product.ProductName) /></td>
                        <td> @Html.DisplayFor(modelItem => product.ProductPrice) /></td>
                        <td> @Html.DisplayFor(modelItem => product.Category.CategoryName) /></td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { Id = product.ProductID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Chi tiet", "Details", new { Id = product.ProductID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Xoa", "Delete", new { Id = product.ProductID }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>

                   
                }
                </tbody>
            </table>
            <div class="pagination-container">
                @Html.PagedListPager(Model.products, Page => Url.Action("Index", new { Page, searchTerm=Model.SearchTerm,
           minPrice=Model.MinPrice, maxPrice=Model.MaxPrice,sortOrder= Model.SortOrder}))
            </div>
                }
else
            {
                <p>Khong tim duoc san pham nao phu hop</p>
            }
<div class="form-group">
    <div class="col-md-offset-8 col-md-4">
        @Html.ActionLink("Them moi", "Create", null, new {@class="btn btn-primary"})
    </div>
</div>
